/* 

*/

a {
	font-size: 19px;
	
}

a:hover {
	font-decoration: none;
}

h1 { 
	color: black;
}

.leftside {
	margin: 0px auto auto 55px;
	padding: 30px;
}

.rightside {
	margin-left: 85px;

}

#font {
	font-family: Sintony, sans-serrif;
	color: black;
}

#photo {
	display: block;
	margin-top: 57px;
	padding: 2px;
  border:5px solid black;
  width: 50%;
  height: auto;
 }

#resize {
  width:30px;  
  height: auto;
}

#social {
	margin-left: 0px;
	margin-top: 35px;
}

#button {
	margin-top: 30px;
}

ul li {
	list-style: none;
	display: inline;
	}

body {
	
background-image: url(../images/bg.jpg);
background-position: center;
	background-attachment: fixed;
	background-size: cover;
}







