/* 

*/


h1 { 
	color: black;
}

.leftside {
	margin: 0px auto auto 55px;
	padding: 50px;
}

#font {
	font-family: Sintony, sans-serrif;
	color: black;
}

#photo {
	display: block;
	margin: 40px;
	margin-top: 50px;
	padding: 2px;
  border:5px solid #021a40;
 }

#resize {
  width:30px;  
  height: auto;
}

#social {
	margin-left: 0px;
}

#button {
	margin-top: 30px;
}

ul li {
	list-style: none;
	display: inline;
	}

body {
	
background-image: url(../images/bg.jpg);
background-position: center;
	background-attachment: fixed;
	background-size: cover;
}







